<h1>Login</h1>
<form action="/songs" method="post">
<input placeholder="username" type="text" name="username">
<input placeholder="password" type="password" name="password">
<input type="submit">
</form>
