<form method="POST" action="/signup">

  Username<input type="text" name="username" />
  Email<input type="email" name="email" />
  Password<input type="password" name="password" />

  <input type="submit" value="submit" />
</form>
