<form action="/songs/<%=@song.id%>" method="post">
  <input type="hidden" value="patch" name="_method">
  Title<input placeholder="Title" type="text" name="title" value="<%=@song.title%>" >
  Artist<input placeholder="Artist" type="text" name="artist" value="<%=@song.artist%>" >
  Genre<input placeholder="Genre" type="text" name="genre" value="<%=@song.genre%>" >
  <input type="submit" value="submit" >
</form>
