<form method="POST" action="/songs">

  <input placeholder="Title" type="text" name="title" />
  <input placeholder="Artist" type="text" name="artist" />
  <input placeholder="Genre" type="text" name="genre" />

  <input type="submit" value="submit" />
</form>
