<form method="POST" action="/songs">

  Title<input type="text" name="title" />
  artist<input type="text" name="artist" />
  genre<input type="text" name="genre" />

  <input type="submit" value="submit" />
</form>
